@-moz-document url-prefix("https://github.com/") {

/* Header Stuff */

header.AppHeader {
    --AppHeader-bg: #2a2c2e
}

.AppHeader .AppHeader-globalBar .AppHeader-context .AppHeader-context-item {
    color: #c8c8ca;
}

.AppHeader .AppHeader-button svg {
    color: #c8c8ca !important;
}

.AppHeader .AppHeader-button {
    border: transparent;
}

.AppHeader .AppHeader-globalBar .AppHeader-logo svg {
    color: #c8c8ca !important;
}

.AppHeader .AppHeader-globalBar .AppHeader-search .AppHeader-searchButton {
    background: #4f5256;
    color: #c8c8ca !important;
}

.AppHeader .AppHeader-globalBar .AppHeader-search .AppHeader-search-action--trailing {
    background: #5b5f63;
    color: #c8c8ca !important;
}

.AppHeader .AppHeader-globalBar .AppHeader-search .AppHeader-search-visual--leading svg {
    color: #c8c8ca !important;
}
}
